{% extends 'appname/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h4 class="mb-0">Add New Healthcare Facility</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        <h5 class="mb-3">Facility Details</h5>
                        {{ facility_form|crispy }}
                        
                        <h5 class="mb-3 mt-4">Emission Source</h5>
                        {{ emission_source_form|crispy }}
                        
                        <h5 class="mb-3 mt-4">Initial Emission Data</h5>
                        {{ emission_data_form|crispy }}
                        
                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary">Add Facility</button>
                            <a href="{% url 'facilities' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
